{% extends "layout.html" %}

{% block title %} Sypané Pelety {% endblock title %}

{% block content %}

	   <style>
        .btn-block {
          margin-top:20px;
          font-size: 80%;
          border-radius: 5rem;
          letter-spacing: .1rem;
          font-weight: bold;
          padding: 1rem;
          transition: all 0.2s;
        }


        .main-container {
			width:80%;
			margin-top:50px;"
		}

		.product-content {
			margin:20px;
		}


		    @media only screen and (min-width: 1200px) {
	          .main-img {
				 width: 100%;
			}

			 .bottom-img {

	        	height: 60px;
	        	width: 95px;
	        }
	          .type-card {
	            max-height:360px;
	          }
	        }


        @media only screen and (max-width: 1200px) {
	          .main-img {
				 width: 100%;
			}

			.main-container {
				width:80%;
				margin-top:50px;"
			}

			 .bottom-img {

	        	height: 50px;
	        	width: 80px;
	        }

	          .type-card {
	            max-height:400px;
	          }

        }


    

	    @media only screen and (max-width: 1000px) {
	    	.main-container {
				width:100%;
				margin-top:40px;"
			}

	    }	


	    @media only screen and (max-width: 770px) {
	          .type-card{
	            margin-top:40px;
	          }

	          .bottom-img {

	        	height: 40px;
	        	width: 75px;
	        }

		    .main-container {
				width:90%;
				margin-top:20px;"
			}

        }

        @media only screen and (max-width: 500px) {
          .main-img {
            width: 100%;
          }


           .main-container {
				width:100%;
				margin-top:20px;"
			}

			.bottom-img {

	        	height: 30px;
	        	width: 55px;
	        }

        }

       

 		img {
		    object-fit: cover;
		}

		.points-bullet {
		    font-size:18px;
		}



		




    </style>



    <div class="container-fluid main-container"  >
        <div class="row">

            <div  class="book-list col-md-8 col-lg-8 col-sm-12 col-xs-12">
            	<div class="img-container ">	
                <img class="main-img" id="picture"  src="{{ url_for('static', filename='images/pelety/IMG_6026.jpg') }}" />
            </div>


                <div class="row" style="margin-left:5%;margin-top: 10px;">
                	<span ><a  onclick="view_photo('{{ url_for('static', filename='images/pelety/IMG_6026.jpg') }}')"><img class="bottom-img" class="main-img" src="{{ url_for('static', filename='images/pelety/IMG_6026.jpg') }}"  />	</a></span>


                	<span style="margin-left:10px;"><a  onclick="view_photo('{{ url_for('static', filename='images/pelety/IMG_6027.jpg') }}')"><img class="bottom-img" class="main-img" src="{{ url_for('static', filename='images/pelety/IMG_6027.jpg') }}"  />	</a></span>


                    <span style="margin-left:10px;"><a  onclick="view_photo('{{ url_for('static', filename='images/pelety/IMG_6028.jpg') }}')"><img class="bottom-img"  src="{{ url_for('static', filename='images/pelety/IMG_6028.jpg') }}"/></a>	</span>

                    <!--
                	<span  style="margin-left:10px;"><img class="bottom-img" src="https://www.majokmet.com/media/content/media/galleries/Slovenske%20rudohorie/004/hd.jpg"/>	</span>


                	<span  style="margin-left:10px;"><img class="bottom-img" src="https://www.majokmet.com/media/content/media/galleries/Slovenske%20rudohorie/004/hd.jpg" />	</span>
                	-->
                </div>	


                

            </div>



            <div class="card  col-md-4 col-lg-4 col-sm-12 col-xs-12 type-card">
                <div  class=" type-card card-body my-3 py-3 ">
                    <h2 class="display-5">Pelety z ovčej vlny</h2>
                    <p style="font-size: 17px;">Prírodné hnojivo pre rastliny</p>

                    <h3>4,99€</h3>

                    <hr style="background-color:black;margin-top:40px;"/>

                    <form style="">
                        <div class="row">
                            <label class="col-8">Množstvo</label>
                            <input type="number" value="1" class="col-3 form-control" />
                        </div>
                        
                    </form>
                    <a href="https://buy.stripe.com/14kg1B4Z8eWXaZOfYY" class="btn btn-lg btn-dark btn-block text-uppercase">Objednať</a>

                </div>
                

        </div>
    </div>

    <div class="bg-light " style="margin-top: 40px;">
    	<div class="product-content">
    		<p>

                <h3 style="padding-top:30px;">Popis</h3>
            <p>Pelety je výrobok z neopratej ovčej vlny, ktorá je zomletá a tlakom vyformovaná do drobných peliet. Pelety sa následne používajú ako univerzálne hnojivo. Efekty a výhody ovčieho hnojiva:</p>
                <ol >
                    <li><strong class="points-bullet">Bohaté na živiny</strong> - Pre konkrétne živiny pozrite tabuľku nižšie. </li>

                    <li><strong class="points-bullet">Dlhodobý efekt</strong> - Živiny z pelliet sa rozkladajú postupne v priebehu jednej sezóny. Vedia
tak dodávať potrebné živiny rovnomerne počas celého roka.</li>
                    <li><strong class="points-bullet">Nepredstavujú hrozbu</strong> - ako 100% prírodné hnojivo nepredstavujú ekologickú hrozbu - zanmená že sa nedá pôda hnojivom otráviť.</li>
                    <li><strong class="points-bullet">Udržujú vlhkosť</strong> - ovčia vlna ako materiál vie zadržať vodu až 5-násobok svojej
vlastnej hmotnosti. To sa prejaví v menšej potrebe polievať rastliny, a teda môže výrazne pomôcť počas suchých období. </li>
                    <li><strong class="points-bullet">Prevzdušňujú pôdu</strong> - Vlnené pellety sa vodou zväčšujú, čím pomáhajú zvýšiť pórozitu (prevzdušnenie) v pôde čo pomáha rastu koreňov.</li>
                    <li><strong class="points-bullet">Odpudzujú živočíchov</strong> - Pre svoj ovčí pach vie vlna ako hnojivo odpudzovať slimákov, napríklad v jahodovom záhone.</li>

                </ol>

				<br/><br/>
                <h3>Živiny</h3>
				 <table class="table">
                  <thead>
                    <tr>


                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">Dusík </td>
                      <td>≈ 9%</td>
                      <td>Horčik</td>
                      <td>≈ 0,05 %</td>
                    </tr>
                    <tr>
                      <td scope="row">Síra</td>
                      <td>1,8-2 %</td>
                      <td>Fosfor</td>
                      <td>0,15-0,17 %</td>
                    </tr>
                    <tr>
                      <td scope="row">Oxid draselný</td>
                      <td>4-6 %</td>
                      <td>Organické látky</td>
                      <td>≈ 79%</td>
                    </tr>
                  <tr>
                      <td scope="row">pH</td>
                      <td>≈ 9 </td>

                    </tr>
                  </tbody>
                </table>
				<br/><br/>
               <h3>Dávkovanie</h3>
            <table class="table">
                  <thead>
                    <tr>


                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">Ovocie </td>
                      <td>1 L peliet na 0,4 m2</td>
                      <td> </td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td scope="row">Zelenina</td>
                      <td>1 L peliet na 0,4 m2</td>
                      <td> </td>
                      <td> </td>
                    </tr>
                    <tr>
                      <td scope="row">Okrasné rastliny</td>
                      <td>0,2 L peliet na 2,5L zeminy</td>
                      <td> </td>
                      <td> </td>
                    </tr>

                  </tbody>
                </table>
            <p></p>
            <br/><br/>
                <h3>Výskum</h3>
            <p>Zozbierané výskumy a výsledky z nich ohľadom vplyvu peliet z ovčej vlny na pôdu a rast rastlín. </p>
            <a href="{{ url_for('static', filename='files/pelety.pdf') }}" class="row" style="margin-left:10px;" download>
                <img height="30" src="{{ url_for('static', filename='images/file.png') }}" />
                <label style="margin-left:5px;margin-top:5px;">Vysledky_sypane.pdf</label>
            </a>
            <br/><br/>
    	</div>	
                    
                    
                </div>

    <div style="margin-bottom:200px;">

    </div>


 <script>
	
	function view_photo(urlPhoto) {

		var mainImage = document.getElementById('picture');
		mainImage.src = urlPhoto;
	}

</script>   

{% endblock content %}
